/*! HTML5 Number polyfill | Jonathan Stipe | https://github.com/jonstipe/number-polyfill*/

$btn-border-highlight: #ededed;
$btn-border-shadow: #777777;
$btn-bg: #CCCCCC;
$btn-border-highlight-active: #5e5e5e;
$btn-border-shadow-active: #d8d8d8;
$btn-bg-active: #999999;

.number-spin-btn-container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.number-spin-btn {
    width: 1.2em;
    background-color: $btn-bg;
    border-color: $btn-border-highlight $btn-border-shadow $btn-border-shadow $btn-border-highlight;
    border-style: solid;
    border-width: 2px;
    
    &:before {
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        padding: 0;
        margin: -.15em 0 0 -.3em;
        border-style: solid;
        content: "";
    }
    
    &:hover {
        cursor: pointer;
    }
    
    &:active {
        background-color: $btn-bg-active;
        border-color: $btn-border-highlight-active $btn-border-shadow-active $btn-border-shadow-active $btn-border-highlight-active;
        border-style: solid;
        border-width: 2px;
    }
}

.number-spin-btn-up {
    border-bottom-width: 1px;
    border-radius: 3px 3px 0 0;
    &:before {
        top: 25%;
        border-color: transparent transparent black transparent;
        border-width: 0 .3em .3em .3em;
    }
    &:active {
        border-bottom-width: 1px;
    }
    &:active:before {
        top: 26%;
        left: 51%;
        border-bottom-color: white;
    }
}

.number-spin-btn-down {
    border-top-width: 1px;
    border-radius: 0 0 3px 3px;
    &:before {
        top: 75%;
        border: {
            width: .3em .3em 0 .3em;
            color: black transparent transparent transparent;
        }
    }
    &:active {
        border-top-width: 1px;
    }
    &:active:before {
        top: 76%;
        left: 51%;
        border-top-color: white;
    }
}

input:disabled + .number-spin-btn-container {
    & > .number-spin-btn-up:active,
    & > .number-spin-btn-down:active {
        background-color: $btn-bg;
        border-color: $btn-border-highlight $btn-border-shadow $btn-border-shadow $btn-border-highlight;
        border-style: solid;
    }
    & > .number-spin-btn-up:before,
    & > .number-spin-btn-up:active:before {
        top: 25%;
        left: 50%;
        border-bottom-color: $btn-bg-active;
    }
    & > .number-spin-btn-down:before,
    & > .number-spin-btn-down:active:before {
        top: 75%;
        left: 50%;
        border-top-color: $btn-bg-active;
    }
}
